geo-app/n8n_workflows/02_osm_amenities.json
{
  "name": "Inmobiliaria - Extract OSM Amenities",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "osm-amenities",
        "options": {}
      },
      "id": "webhook-2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://nominatim.openstreetmap.org/search",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.city }}, {{ $json.state }}, México"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "inmo-geo-mvp/1.0 (contacto@iagentek.com.mx)"
            }
          ]
        }
      },
      "id": "nominatim-2",
      "name": "Get City Bounds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbox",
              "name": "bbox",
              "value": "={{ $json[0].boundingbox.join(',') }}",
              "type": "string"
            },
            {
              "id": "amenity_types",
              "name": "amenity_types",
              "value": "={{ $('Webhook').item.json.types }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-bbox-1",
      "name": "Prepare BBox",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://overpass-api.de/api/interpreter",
        "authentication": "none",
        "sendQuery": false,
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "=[out:json][timeout:60][bbox:{{ $json.bbox }}];(node[\"amenity\"~\"^({{ $json.amenity_types.replace(',','|') }})$\"];way[\"amenity\"~\"^({{ $json.amenity_types.replace(',','|') }})$\"];);out center;"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "overpass-1",
      "name": "Query Overpass API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "elements",
              "name": "elements",
              "value": "={{ $json.elements }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-elements-1",
      "name": "Extract Elements",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "elements",
        "options": {}
      },
      "id": "split-1",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "upsert",
        "tableId": "iainmobiliaria_amenities",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "osm_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.tags?.name || 'Sin nombre' }}"
            },
            {
              "fieldId": "amenity_type",
              "fieldValue": "={{ $json.tags?.amenity }}"
            },
            {
              "fieldId": "lat",
              "fieldValue": "={{ $json.lat || $json.center?.lat }}"
            },
            {
              "fieldId": "lon",
              "fieldValue": "={{ $json.lon || $json.center?.lon }}"
            },
            {
              "fieldId": "city",
              "fieldValue": "={{ $('Webhook').item.json.city }}"
            },
            {
              "fieldId": "state",
              "fieldValue": "={{ $('Webhook').item.json.state }}"
            }
          ]
        },
        "options": {
          "onConflict": "osm_id"
        }
      },
      "id": "supabase-upsert-1",
      "name": "Upsert to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-creds",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"upserts\": $itemIndex + 1, \"message\": \"Amenidades extraídas exitosamente\" } }}"
      },
      "id": "respond-2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get City Bounds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get City Bounds": {
      "main": [
        [
          {
            "node": "Prepare BBox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare BBox": {
      "main": [
        [
          {
            "node": "Query Overpass API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Overpass API": {
      "main": [
        [
          {
            "node": "Extract Elements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Elements": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Upsert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-25T00:00:00.000Z",
      "updatedAt": "2025-10-25T00:00:00.000Z",
      "id": "inmobiliaria",
      "name": "Inmobiliaria"
    }
  ],
  "pinData": {},
  "versionId": "1"
}

